*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Verdana, sans-serif;
    font: 16px / 26px ;
    font font-weight: 400;
    background-color: black;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: padding 25px 60px ;
}
section{
    height: 100vh;
    position: relative;
}

